@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700&display=swap");

:root {
    --verdeModoAhorro: #36BF53;
    --verdeoscuro: #02913F;
    --verdeclaro: #6CC52B;
    --amarillUno: #D7E107;
    --amarilloDos: #FFD426;
    --naranja: #FF850E;
    --rojo: #FF1222;
    --bordo: #B51A15;
    --negro: #080e0be8 --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    /* Fonts */
    --font-title: "Montserrat", sans-serif;
    --font-text: "Montserrat", sans-serif;

}

body {
    box-sizing: border-box;
    margin: 0;
    font: 1rem/1.5 var(--bs-font-sans-serif);
    font-family: "Inter-Medium", sans-serif;
}

/* Preloader */
#preloader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    z-index: 9999999;
}

.fade-out {
    opacity: 0;
    transition: opacity 4s;
}

.preloader {
    width: 100px;
    height: 70px;
    margin: 50px auto;
    position: relative
}

.preloader span {
    display: block;
    width: 5px;
    height: 10px;
    background: #02913F;
    position: absolute;
    bottom: 0;
    animation: preloading 2.25s infinite ease-in-out
}

.preloader span:nth-child(3) {
    left: 22px;
    animation-delay: .4s
}

.preloader span:nth-child(4) {
    left: 33px;
    animation-delay: .6s
}

.preloader span:nth-child(5) {
    left: 44px;
    animation-delay: .8s
}

.preloader span:nth-child(2) {
    left: 11px;
    animation-delay: .2s
}

.preloader span:nth-child(6) {
    left: 55px;
    animation-delay: 1s
}

.preloader span:nth-child(7) {
    left: 66px;
    animation-delay: 1.2s
}

.preloader span:nth-child(8) {
    left: 77px;
    animation-delay: 1.4s
}

.preloader span:nth-child(9) {
    left: 88px;
    animation-delay: 1.6s
}

@-webkit-keyframes preloading {
    0% {
        height: 10px;
        transform: translateY(0);
        background: #6CC52B
    }

    25% {
        height: 60px;
        transform: translateY(15px);
        background: #D7E107
    }

    50% {
        height: 10px;
        transform: translateY(-10px);
        background: #FF850E
    }

    100% {
        height: 10px;
        transform: translateY(0);
        background: #FF1222
    }
}

@keyframes preloading {
    0% {
        height: 10px;
        transform: translateY(0);
        background: #6CC52B
    }

    25% {
        height: 60px;
        transform: translateY(15px);
        background: #D7E107
    }

    50% {
        height: 10px;
        transform: translateY(-10px);
        background: #FF850E
    }

    100% {
        height: 10px;
        transform: translateY(0);
        background: #FF1222
    }
}

/* Home */
.inicio  {
    background-image: url(/images/verde.jpg);
    width: 100%;
}    
.home {
    padding-top: 15%;
    padding-left: 15%; 
    display: grid;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    /*margin-top: 5rem;
    margin-bottom: 1rem;*/
} 

#moditoimg {
    width: 100%; /* Ajusta a la anchura del contenedor */
    height: auto; /* Mantén la proporción */
    max-width: 100%;
    object-fit: contain
}

.div1 {
    grid-column: span 3 / span 3;
    background-color: white;
    border-radius: 5%;
    border-style: dotted;
    width: auto;    
}

.div2 {
    grid-column: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 2;   
}
.div3 {
    grid-column-start: 1;
    grid-row-start: 3;  
    margin: 5px;
}
.div4 {
    grid-column-start: 2;
    grid-row-start: 3;
}
.div5 {
    grid-column-start: 3;
    grid-row-start: 3;
}
.div6 {
    grid-column: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 4;
}
.div7 {
    grid-row: span 4 / span 4;
    grid-column-start: 4;
    grid-row-start: 1;
    width:40vh;
}

@media (max-width: 480px) {

    .container {
        grid-template-columns: 1fr; 
        gap: 5px; 
    }

    .item {
        font-size: 14px; 
    }
}

@media (max-width: 800px) {
    #moditoimg {
        display: none !important;
        transition: all 0.3s ease-in-out;

    }
    .home {
        display: flex;
        justify-content: center; 
        align-items: center; 
        height: 100vh; 
        flex-direction: column; 
        padding-right: 15%;
        text-align: center;
        width: 100%;
    }
    .div7 {
        display: none; 
    }

    .div1, .div2, .div3, .div4, .div5, .div6  {
        display: block; 
        text-align: center;
    }
}



/* presentacion-beneficios */
#beneficios {
    padding-top: 1.5rem;
    padding-bottom: 7rem;
    
}

#beneficios .text-center {
    text-align: center;
    padding-top: 150px;
    margin-bottom: 2rem;
}

#beneficios .row {
    margin: 0.5%;
    padding: 1.5%;
}

#beneficios .card {
    background: linear-gradient(225deg, #a5d105 0%, #ff2600e8 100%);
    /*background: var(--verdeModoAhorro);*/
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 0.625rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);

    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
    color: white;
}

#beneficios .card__content {
    text-shadow: 0 10px 20px rgb(0 0 0 / 18%);
    --flow-space: 0.9375rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    height: 55%;
    /* padding: 12% 1.25rem 1.875rem; */

}

#beneficios .card__description {
    text-shadow: 0 10px 20px rgb(0 0 0 / 18%);
    font-size: 20px;
    color:#000
}


#beneficios .card__title {
    width: -moz-fit-content;
    text-shadow: 0 10px 20px rgb(0 0 0 / 75%);
    color: rgb(0, 0, 0);
}

#fases-diagnostico .text-center {
    text-align: center;
    padding-top: 150px;
    margin-bottom: 2rem;
} 

#textodegradado {
    background-color: #c8e6c9;
}
#fases-diagnostico .container-fluid {
    margin-top: 5%;
    border-radius: 5%;
}


@media (any-hover: hover) and (any-pointer: fine) {
    #beneficios .card__content {
        transform: translateY(62%);
        transition: transform 500ms ease-out;
        transition-delay: 500ms;
    }
    #beneficios .card__title::after {
        opacity: 0;
        transform: scaleX(0);
        transition: opacity 500ms ease-in, transform 500ms ease-out;
        transition-delay: 500ms;
        transform-origin: right;
    }
    #beneficios .card__background {
        transition: transform 500ms ease-in;
    }
    #beneficios .card__content--container> :not(.card__title),
    .card__button {
        opacity: 0;
        transition: transform 500ms ease-out, opacity 500ms ease-out;
    }
    #beneficios .card:hover,
    .card:focus-within {
        transform: scale(1.05);
        transition: transform 500ms ease-in;
        background: linear-gradient(270deg, rgb(228, 106, 6) 0%, rgba(54, 191, 83, 1) 35%, rgba(108, 197, 43, 1) 100%);
    }
    #beneficios .card:hover .card__content,
    .card:focus-within .card__content {
        transform: translateY(0);
        transition: transform 500ms ease-in;
    }
    #beneficios .card:focus-within .card__content {
        transition-duration: 0ms;
    }
    #beneficios .card:hover .card__background,
    .card:focus-within .card__background {
        transform: scale(1.3);
    }
    #beneficios .card:hover .card__content--container> :not(.card__title),
    .card:hover .card__button,
    .card:focus-within .card__content--container> :not(.card__title),
    .card:focus-within .card__button {
        opacity: 1;
        transition: opacity 50ms ease-in;
        transition-delay: 500ms;
    }
    #beneficios .card:hover .card__title::after,
    .card:focus-within .card__title::after {
        opacity: 1;
        transform: scaleX(1);
        transform-origin: left;
        transition: opacity 50ms ease-in, transform 50ms ease-in;
        transition-delay: 50ms;
    }
    #fases-diagnostico {
        padding-top: 2rem;
        padding-bottom: 15rem;
    }

    #contacto  {
        background: linear-gradient(292deg, rgba(255,255,255,1) 0%, rgba(54,191,83,1) 50%, rgba(255,255,255,1) 100%);
        width: 100%
    }

    #quienes-somos .container {
        width: 80%;
        margin: auto;
        text-align: center;
        padding: 50px 20px;
    }

    #quienes-somos ul {
        list-style: none;
        padding: 0;
    }
    
    .quienes-h1 {
        font-size: 2.1rem;
        color: #02913F;
    }
    #quienes-somos p {
        font-size: 1.2rem !important;
        line-height: 1.6 !important;
    }

    #footer-down {
        padding-top: 10rem;
        padding-bottom: 5rem;
    }
}

@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}


#beneficios .card:hover {
    cursor: pointer;
    box-shadow: 0 0 40px 2px var(--verdeModoAhorro);
}


/* *****************   Fases ************ */

/* fases-diagnostico*/

#fases-diagnostico .container-fluid {
    background-image: url(/modo-ahorro-V2/images/verde.jpg);
    margin: 5%;
}

#fases-diagnostico .text-center .h2 {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
}
.cardes .carde {
    /* width: 30%; */
    cursor: pointer;
    padding-left: 0px;
    padding-right: 0px;
}

.carde:hover .front {
    background: #fff;
    box-shadow: 0 0 40px 2px orange;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.5);
    transform: translateY(0);
    height: 250px;
    margin-top: 25px;

}

.carde:hover .front h2 {
    color: #6D776F;
}

.carde:hover .back {
    transform: translateY(0);
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
}

.front {
    background: white;
    position: relative;
    z-index: 10;
    text-align: center;
    padding: 50px 0;
    transition: 0.5s;
    transform: translateY(100px);
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
    height: 250px;
}

.front h2 {
    color: #6D776F;
    padding-top: 5px;
    font-size: 20px;
    transition: 0.5s;
    text-align: center;
    justify-content: center;
}

.back {
    position: relative;
    z-index: 5;
    padding: 10px;
    transform: translateY(-122px);
    transition: 0.5s;
    background: #fff;
}

.back:hover {
    background: #fff;
    color: #6D776F;
}
.back h3 {
    font-size: 22px;

}
.back p {
    font-size: 15px;
    margin-top: 10px;
    color: #6D776F;
}
.basic-1-2 {
    padding-top: 3.75rem;
    padding-bottom: 4rem;
    margin-bottom: 4rem;
    margin-top: 4rem;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
    border-radius: 0 200px 0 200px;
}

.basic-1-2 .row {
    margin: 0.5%;
    padding: 1.5%;
}
.basic-1-3 {
    padding-top: 3.75rem;
    padding-bottom: 4rem;
    margin-bottom: 4rem;
    margin-top: 4rem;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
    border-radius: 0 200px 0 200px;
}
.basic-1-3 .row {
    margin: 0.5%;
    padding: 1.5%;
}
.cta-3 {
    align-items: center;
    padding: 0.5%;
}
.img-fluid-dashboard {
    border-radius: 1rem;
    width: 100%;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
}
.img-fluid-dashboard:hover {
    scale: 1.1;
    cursor: pointer;
}

/* ************ Header Modito *********** *

/* Header NO SE UTILIZA TODO*/
.header {
    background-color: #fff;

}

.header .header-content {
    padding-top: 8.5rem;
    padding-bottom: 4rem;
    text-align: left;
}

.header .container {
    background: #fff;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.25);
}

.header .text-container {
    margin-bottom: 0.5rem;
}

.text-center .text-container {
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 20px 0 20px 10px rgba(0, 0, 0, 0.5);
}

.header h1 {
    margin-top: 5rem;
    font-size: 3.5rem;
    line-height: 5rem;
    color: var(--negro);
    margin-bottom: 0;
    text-shadow: 0 10px 20px rgb(0 0 0 / 18%);
}

.header h3 {
    margin-bottom: 2.5rem;
    font-size: 1.125rem;
    line-height: 2.125rem; 
    text-shadow: 0 10px 20px rgb(0 0 0 / 18%);
    padding-left: 1.25rem;
    color: #626262;
}

#card-body {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

#chatQuestion, #chatButton {
    margin: 2.5rem;
}

#chatButton {
    background-color: white;
}



.card {
    height: 25%;
    margin: auto; /* Centra la tarjeta */
    padding: 25px; /* Reduce el espacio interno */
}
.icon {
    z-index: 2;
    position: relative;
    display: table;
    padding: 8px;

    &::after {
        content: '';
        position: absolute;
        inset: 4.5px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.08);
        border: 1px solid rgba(255, 255, 255, 0.12);
        backdrop-filter: blur(2px);

    }

    svg {
        position: relative;
        z-index: 1;
        display: block;
        width: 24px;
        height: 24px;
        transform: translateZ(0);
        color: #D4D4D8;
        transition: color .25s;
    }
}

/*
#sendButton {
    margin-top: 20rem;
    padding: 20px 25px;
    border: 2px solid #36BF53;
    border-radius: 8px;
    background: linear-gradient(135deg, #36BF53, #02913F);
    color: white;
    font-size: 38px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}

#sendButton::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    transition: left 0.4s;
}

#sendButton:hover::after {
    left: 100%;
}

#sendButton:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
    background: linear-gradient(135deg, #02913F, #36BF53);
}

/* Efecto pulsante
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.06);
    }

    100% {
        transform: scale(1);
    }
}

#sendButton:focus {
    animation: pulse 1s infinite;
}
*/

.header .barra {
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2);
    background: #EAEEF5;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    border-radius: 4rem;
    display: flex;
}

.header span {
    padding: .5rem;
    font-size: 2rem;
}

.header .chatbot-bar {
    background-color: transparent;
    color: white;
    border-radius: 5px;
}

.chatbot-bar input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #efefef;
}

.chatbot-bar button {
    padding: 10px 30px;
    background-color: var(--verdeModoAhorro);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: end;
}

.chatbot-bar button:hover {
    background-color: #fff;
    color: var(--verdeModoAhorro);
    border: 1px solid var(--verdeModoAhorro);
}


.texto-degradado {
    box-sizing: unset;
    background: linear-gradient(265deg, #000 20%, var(--rojo) 50%, var(--naranja) 55%, var(--amarilloDos) 60%, var(--verdeModoAhorro) 75%, #000 90%) 0% 0% no-repeat padding-box;
    ;
    background-clip: text;
    --webkit-background-clip: text;
    color: transparent;
}

.card-options-1 h4 {
    font-size: 18px;
}

/* end of header */

/* ********** Chatbot cards ************* */
.card {
    transition: all 0.5s;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    border-color: var(--verdeclaro);

}

/* ********** Modal ************* */

/* Modal */

.chat-container {
    width: 100%;
    max-width: 100%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.chatbox {
    height: 300px;
    overflow-y: auto;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
}

.message.bot {
    background: linear-gradient(270deg, rgba(2, 145, 63, 1) 0%, rgba(54, 191, 83, 1) 35%, rgba(108, 197, 43, 1) 100%);
    align-self: flex-start;
    color: #000;
}

.message.user {
    background-color: #c8e6c9;
    align-self: flex-end;
}

#userInput,
#sendButton {
    padding: 15px;
    border: none;
    outline: none;
}

#userInput {
    width: calc(100% - 105px);
}

#sendButton {
    display: inline;
}

#sendButton {
    border: 1px solid var(--verdeModoAhorro);
    border-radius: 6px;
    background: linear-gradient(252deg, rgba(2, 145, 63, 1) 0%, rgba(54, 191, 83, 1) 35%, rgba(108, 197, 43, 1) 100%);
    color: white;
    cursor: pointer;
    transition: all 0.5s;
    text-decoration: none;
}

#sendButton:hover {
    box-shadow: 0 0 40px 2px var(--verdeModoAhorro);
}

.buttonWaiting {
    background-color: white;
    color: darkgray;
}

.loader {
    position: relative;
    width: 100%;
    border: 1px solid transparent;
    left: 45%;
    bottom: 15px;
}

.loader span {
    position: absolute;
    bottom: 0;
    display: block;
    width: 9px;
    height: 5px;
    border-radius: 5px;
    background: rgba(0, 0, 0, .1);
    -webkit-animation: preloader 2s infinite ease-in-out;
    animation: preloader 2s infinite ease-in-out
}

.loader span:nth-child(2) {
    left: 11px;
    -webkit-animation-delay: .2s;
    animation-delay: .2s
}

.loader span:nth-child(3) {
    left: 22px;
    -webkit-animation-delay: .4s;
    animation-delay: .4s
}

@-webkit-keyframes preloader {

    0%,
    100%,
    50% {
        height: 5px;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        background: rgba(0, 0, 0, .1)
    }

    25% {
        height: 30px;
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
        background: #36BF53
    }
}

@keyframes preloader {

    0%,
    100%,
    50% {
        height: 5px;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        background: rgba(0, 0, 0, .1)
    }

    25% {
        height: 30px;
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
        background: #36BF53
    }
}

/* end Modal */



/***********************/
/*     Request     */
/***********************/
#whatsapp-ma {
    margin: 0px auto;
    width: 10rem;
    height: auto;
}

.form-control,
.form-select {
    border-color: #36BF53;
}

.form-control:focus,
.form-select:focus {
    border-color: #36BF53;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(54, 191, 83, .25);
}

.boxwsp-form-control-input,
.boxwsp-form-control-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;

}

.boxwsp-form-group {
    margin-bottom: 15px;
}

.boxwsp-form-group.text-center {
    text-align: center;
}

.boxwsp-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--verdeModoAhorro);
    border-radius: 5px;
    padding: 1rem;
}

.boxwsp-whatsappButton .img {
    border: none;
}

.boxwsp-button {
    border: 2px solid var(--verdeModoAhorro);
    ;
    outline: none;
    transition: opacity 0.3s ease;
    color: #000;
    background: #fff;
}

.boxwsp-button:hover {
    background: #36BF53;
    scale: 1.1;
}


/***********************/
/*     Footer     */
/***********************/
#footer {
    text-align: center;
}

.social-icon li {
    display: inline-block;
    width: 50px;
    /* Ajusta según necesites */
    height: 50px;
    /* Igual al ancho para hacer el círculo */
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    /* Asegura que el ícono se centre */
    margin: 5px;
}

.social-icon li a {
    color: white;
    font-size: 24px;
    display: inline-block;
    width: 100%;
    height: 100%;
}

#footer .bg-sec h2 {
    color: #FFFFFF;
    font-size: 25px;
    font-weight: normal;
}

#footer-down {
    position: relative;
    top: 30px;
    text-align: center;
}

#footer-down h2 {
    color: #444;
    margin: 20px 0px 40px 0px;
    text-transform: none;
}

#footer-down ul li {
    display: inline-block;
    margin-right: 20px;
}

#footer-down ul li a i.fa {
    color: #999;
    font-size: 27px;
    border: 2px solid #999;
    border-radius: 50px;
    padding: 25%;
}

#footer-down ul li.instagram i.fa:hover {
    color: var(--verdeoscuro);
    border: 2px solid var(--verdeoscuro);
}

.footer-text {
    font-size: 12px;
}

/* ========================================================================
  Hover animation 
 ========================================================================== */
@-webkit-keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

.hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}

.hvr-pulse:hover,
.hvr-pulse:focus,
.hvr-pulse:active {
    animation-name: hvr-pulse;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}